# If you want some example snippets, check out:
# https://github.com/atom/language-javascript/blob/master/snippets/javascript.cson

'.source.lavender':
  'Anonymous function expression':
    'prefix': 'def'
    'body': 'def(a) => $1'
  'Import command':
    'prefix': 'import'
    'body': '@import $1'
  'Using command':
    'prefix': 'using'
    'body': '@using $1'
  'Function object':
    'prefix': 'object'
    'body': '(def $1() =>\n\t(def obj(a) \n\t\t=> a ; 1\n\t)\n)'
